/ = @results
%table.table-hover
	/ %caption SoundCloud Results
	/ %thead
	/ 	%tr
	/ 		%th Name
	%tbody
	/ - for t in @tracks
	/ 	%tr
	/ 		%td= t.title
	- for r in @results
		%tr
			%td
				.pull-right
					%button.post_btn.btn.btn-mini.btn-primary{ :style => "position: absolute; left:255px;", :type => "button", :data => {:uri => r[:uri], :title => r[:title] , :genre => r[:genre] }, "data-target" => "#post_modal", "data-toggle" => "modal" } POST
				%iframe{:frameborder => "yes", :height => "55px", :scrolling => "no", :src => "http://w.soundcloud.com/player/?url=#{r[:uri]}&auto_play=false&download=false&show_user=false&show_artwork=false&show_comments=false&liking=false&buying=false&color=ff7700", :width => "100%"}
				