%h2 Browse Tunes
%hr
= form_tag '/sc' ,:id => "sc_search",:method => :get, :remote => true, :class => "form-search" do
	.input-append
		= search_field_tag 'q', nil, :placeholder => 'Search Soundcloud...', :class => "span12 search-query"
		= submit_tag "Search", :class => "btn", :id => "sc_btn" ,"data-loading-text" => "Loading..."
	
#sc_results

/ = render 'form'

/ = link_to 'Back', tunes_path
