%h2 Search
%hr
= form_tag '/sc' ,:id => "sc_search",:method => :get, :remote => true do
	.input-append
		= search_field_tag 'q', nil, :placeholder => 'Search Soundcloud...'
		= submit_tag "Search", :class => "btn", :id => "sc_btn" ,"data-loading-text" => "Loading..."

#form	

#sc_results




/ = link_to 'Back', tunes_path
