:plain
	var results = $('#{escape_javascript render :partial => "sc_results" }');

	$("#sc_results").html(results);
	$("#sc_btn").button('reset');
	
	$(".post_btn").click(function() {
		$("#tune_name").val($(this).attr("data-title"));
		$("#tune_remote_id").val($(this).attr("data-uri"));
		$("#tune_description").val($(this).attr("data-genre"));
	});