%h3= @playlist.name
%table.table.table-hover
	%tbody
		= render @tunes

/ %ol#playlist

/ %p#notice= notice
/ 
/ %p
/   %b User:
/   = @playlist.user
/ %p
/   %b Name:
/   = @playlist.name
/ 
/ = link_to 'Edit', edit_playlist_path(@playlist)
/ \|
/ = link_to 'Back', playlists_path
