#daplayer.hide
	#player_hide.pull-right.btn-inverse.btn-mini{:style=>"margin-right: 30px;"}
		%i.icon-arrow-up
	#player.pull-left
		.controls
			.play
			.stop
			.prev
			.next
	#waveform.pull-left
		.buffer
		.played
		/ %img
	#cs_title.pull-left